@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-full;
  }
}

/* styles/globals.css */

body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100dvh;
}

table {
  width: 100%;
  /* border-collapse: collapse; Ensures no gaps between cells */
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 16px;
}

.column-header {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
th {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

th:hover {
  /* background-color: lightgray; Grey background on hover */
  cursor: pointer; /* Change cursor to pointer for better UX */
  color: lightgray;
}

td {
  /* background-color: #f5f5f5; Lighter gray for the rest of the table */
  color: black; /* Black text for the cells */
}

/* Set alternating row colors for better visibility */
tr:nth-child(even) td {
  background-color: #e9e9e9;
}

.applications-container {
  background-color: #ffffff;
  border-radius: 24px;
  row-gap: 10px;
  padding: 10px;
  height: calc(100dvh - 130px);
  -webkit-box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
}
.welcome-message {
  -webkit-box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 1px 4px 26px 0px rgba(0, 0, 0, 0.44);
}

tr {
  background-color: #f5f5f5;
  border-radius: 32px;
  margin: 10px;
  row-gap: 10px;
}

.page-container {
  background-color: #2d8dbc;
  /* font-family: Helvetica, sans-serif; */
}

thead.tr {
  background-color: transparent;
}

a {
  color: darkblue;
}

/* // Set border-radius on the top-left and bottom-left of the first table data on the table row */
td:first-child,
th:first-child {
  border-radius: 14px 0 0 14px;
}

tbody {
  row-gap: 10px;
}

td {
  padding: 10px;
  text-align: left;
  border-right: 2px solid lightgray;
  height: 44px;
}

/* // Set border-radius on the top-right and bottom-right of the last table data on the table row */
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 0;
}

/* Style the cell containing the "+" button */
td.add-job-cell {
  padding: 0;
  text-align: center;
  position: relative;
}

/* Style the "+" button */
button.add-job-btn {
  font-size: 18px;
  background-color: #ffffff;
  color: black;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 8px;
  cursor: pointer;
  width: 40px; /* Adjust width to control size */
  height: 40px; /* Adjust height to control size */
  display: inline-block;
  line-height: 0;
}

button.add-job-btn:hover {
  background-color: #f0f0f0;
}
